<style>
    p {
        color: black;
        text-indent: 30px;
    }
</style>
เรียน คุณ {{.Name}} ,<br />

<div>
    <span>จำนวนการแจ้งเตือน: <p style="font-size:30px">{{.MarginCallCount}}</p></span>
</div>

ขอขอบคุณที่ใช้บริการ ICFIN - Lending Service<br>
ขอแสดงความนับถือ<br>
บริษัทไอซีฟิน จำกัด<br>
************************************************************************************************<br>
อีเมล์ฉบับนี้สร้างขึ้นโดยอัตโนมัติ โปรดอย่าตอบกลับอีเมล์ฉบับนี้ สอบถามรายละเอียดเพิ่มเติมได้ที่ ICFIN - Lending Service
โทร. 02-111-9999 หรือส่งอีเมลมาที่ <a href="mailto:k.apiwattanawong@gmail.com">k.apiwattanawong@gmail.com</a>.