<style>
  p {
    color: black;
    text-indent: 30px;
  }
</style>
เรียน คุณ {{.Name}} ,<br />
<p>รหัส OTP ของคุณ คือ</p>
<p style="font-size:30px">{{.Otp}}</p>
<p>รหัสอ้างอิง {{.RefNo}}, OTP จะหมดอายุใน 3 นาที</p>
ทางบริษัทไอซีฟินไม่มีนโยบายในการขอรหัสผ่านของท่าน
ด้วยเหตุผลด้านความปลอดภัยโปรดเก็บข้อมูลส่วนบุคคลและรหัสผ่านของท่านไว้เป็นความลับและอย่าเปิดเผยกับใคร<br><br>
ขอขอบคุณที่ใช้บริการ ICFIN - Lending Service<br>
ขอแสดงความนับถือ<br>
บริษัทไอซีฟิน จำกัด<br>
************************************************************************************************<br>
อีเมล์ฉบับนี้สร้างขึ้นโดยอัตโนมัติ โปรดอย่าตอบกลับอีเมล์ฉบับนี้ สอบถามรายละเอียดเพิ่มเติมได้ที่ ICFIN - Lending Service
โทร. 02-111-9999 หรือส่งอีเมลมาที่ <a href="mailto:k.apiwattanawong@gmail.com">k.apiwattanawong@gmail.com</a>.